@media(max-width: 1000px){
	.logobtn {
		right: 30px;
		padding-right: 20px;
	}
	
	.lm{
		display: block;
	}
}
@media(min-width: 1407px){
	.logobtn {
		right: 30px;
		padding-right: 20px;
	}
	
}
@media(max-width: 1400px){
	.logobtn {
		right: 30px;
		padding-right: 20px;
	}
}
.logobtn{
	float: right;
	margin-right: 15px;
	position: absolute;
}
.logobtn a:hover{
	background-color: red;
	color: white;
}
@media(max-width: 1400px){
	.check{
		font-size: 20px;
	}
}
@media(max-width: 768px){
	.nav1{
		display: block;
	}
}
@media(max-width: 1900px){
	.middle button{
		font-size: 20px;
	}
}
@media(max-width: 1375px){
	.middle{
		width: 280px;
	}
}
@media(max-width: 2000){
	.middle{
		width: 580px;
	}
	.middle button{
		font-size: 20px;
	}
}
.cc{
	display: flex;
	width: 100%
}
.lm1{
	width: 120%; 
	display: flex;
}
@media(max-width: 2024px){
	.cc{
		display: block;
	}
	.lm1{
		display: block;
		width: 150px;
	}
	.cc input{
		margin: 5px;
	}
}
@media print {
	body *{
		visibility: hidden;
	}
	.print-area * {
		visibility: visible;
	}
}